<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><h2>ParkDrive</h2></a>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="menuVagas" role="button" data-bs-toggle="dropdown" href="#">Vaga</a>
                        <ul class="dropdown-menu" aria-labelledby="menuVagas">
                            <li class="dropdown-item"><a class="nav-link action" href="/registrarVaga">Registrar vagas</a></li>
                            <li class="dropdown-item"><a class="nav-link action" href="/listarVagas">Listar vagas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="menuClienteDiario" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Clientes diarios</a>
                        <ul class="dropdown-menu" aria-labelledby="menuClienteDiario">
                            <li class="dropdown-item"><a class="nav-link active" href="/estacionar">Registrar entrada</a></li>
                            <li class="dropdown-item"><a class="nav-link active"  href="/listarDiario">Listar clientes</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="menuClienteMensal" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Clientes mensais</a>
                        <ul class="dropdown-menu" aria-labelledby="menuClienteMensal">
                            <li class="dropdown-item"><a class="nav-link active" href="/cadastro">Cadastrar</a></li>
                            <li class="dropdown-item"><a class="nav-link active" href="/listar">Listar</a></li>                
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="menuRelatorios" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Relatorios</a>
                        <ul class="dropdown-menu" aria-labelledby="menuRelatorios">
                            <li class="dropdown-item"><a class="nav-link active" href="/relatorios">Relatorio de clientes mensais</a></li>
                            <li class="drodown-item"> Relatorio de clientes diarios</li>
                        </ul>
                    </li>

                </ul>
              </div>                
        </div>
    </nav>
</header>