<%- include("../partials/header.ejs"); %>

<body>

    <%- include("../partials/nav.ejs");  %>
    <div class="container">
        <div class="card">
            <form method="post" action="/cadastrarVagas">
                <div class="card-header" id="hearderRegistrar">
                    <h2>Registrar vaga de veiculos</h2>
                    <button class="btn btn-primary">Registrar</button>
                </div>
                <div class="card-body dados">
                    <div class="card-header">
                        <h4>Dados da vaga</h4>
                    </div>
                    <div class="card-body">
                        <label for="">Numero da vaga: </label>
                        <input type="number" name="nunVaga">
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>

<style>
    .dados{
        background-color: rgb(193, 197, 202);
        margin-bottom: 15px;
        border-radius: 11px;
        padding: 0px 0px 9px 9px;
        margin: 10px;
    }
    .elementos{
        padding-top: 7px;
    }

    label{
        padding-right: 5px;
    }
    input, select{
        border-radius: 8px;
    }

    #hearderRegistrar{
        padding: 0px 20px 0px 20px;
        margin: 10px 20px 0px 20px;
        display: flex;
        justify-content: space-between;
    }
</style> 

<%- include("../partials/footer.ejs"); %>