<%- include("partials/header.ejs"); %>

<body>    
    <main>
        <div class="container">
            <div class="" style="display:flex; justify-content: center; ">
                <img src="/imagens/estacionamente.png" class="img-thumbnail" 
                style="width: 700px ; height: 500px;" alt="Ilustração de um estacionamento">
            </div>
            <a href="/estacionamento/login/" class="btn btn-primary">Login</a>
            <a href="/estacionamento/cadastro/" class="btn btn-primary">Cadastro</a>


        </div>
    </main>

</body>
</html>

   <%- include("partials/footer.ejs"); %>