<%- include("../partials/header.ejs"); %>

<body>

    <%- include("../partials/nav.ejs");  %>
  
    <div class="container">
        <div class="card">
            <form method="post" action="/mensal/cadastrar">
                <div class="card-header hearderCadastrar" >
                    <h2>Cadastrar cliente mensal</h2>
                    <button class="btn btn-primary">Cadastrar</button>
                </div>
                <div class="card-body dados"  >
                    <div class="card-header">
                        <h4>Dados do motorista</h4>
                    </div>
                    <div class="elementos">
                        <label  for="">Nome:</label>
                        <input type="text" placeholder="Nome" name="nome">    
                    </div>
                    <div class="elementos">
                        <label for="">CFP:</label>
                        <input type="number" placeholder="CPF"
                            pattern="[0-9]{2}.[0-9{2}]"
                            maxlength="11" name="cpf">
                    </div> 
                    <div class="elementos">
                        <label for="">Telefone do cliente:</label>
                        <input  type="number" pattern="[0-9]{2}.[0-9{2}]" title="Digite apenas números"
                            maxlength="11"
                            placeholder="Número" 
                            name="telefone" >
                    </div>
                </div>
                <div class="card-body dados">
                    <div class="card-header">
                        <h4>Pagamento</h4>
                    </div>
                    
                        <label for="">Dia de pagamento</label>
                        <select name="pagaDia">
                            <option value="1">1</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>    
</body>

<div id="output"></div>
<script src="ejs.min.js"></script>
</html>

<script src="../.././js/EntradaSaida.js"></script>
<%- include("../partials/footer.ejs"); %>