<%- include("partials/header.ejs"); %>

<body>

    <%- include("partials/nav.ejs");  %>
    
    <div class="container">
        <div class="card">
            
        </div>
    </div>

</body>
</html>

   <%- include("partials/footer.ejs"); %>