
<body>
    <form action="" method="post" class="form-sigin">
        <h1>Faça seu login</h1>
        <input type="number" class="input">         
    </form>
</body>

<%- include("partials/footer.ejs"); %>